aiohttp
motor
Pillow
requests
python-telegram-bot==20.3
pymongo
pyrate-limiter==3.1.0
apscheduler==3.6.3
pytz
tzlocal==2.1
pyrogram==2.0.106
tgcrypto
python-dotenv
cachetools
aiocron

httpx==0.24.1
httpcore==0.17.3
